/* body */
body {
  font-family: "Poppins", sans-serif;
  background-color: #d7d4d49c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* profile-card */

/* cover-photo img */

/* profile-content */

/* profile-picture */

/* profile-info h2*/

/* profile-info title*/

/* profile-info bio*/

/* title */

/* bio */

/* social ul */

/* social a */

/* social img */
